# Azure Video Indexer - portal > Account Settings
VIDEO_INDEXER_SUBSCRIPTION_KEY=
VIDEO_INDEXER_ACCOUNT_ID=
VIDEO_INDEXER_LOCATION=trial

# MongoDB Atlas - Connect > Drivers
MONGODB_CONNECTION_STRING=
MONGODB_DB_NAME=video_app_db
